<span>

    <span class="ticker-symbol">
        {{tickerPrice().ticker}}
    </span>
    <span class="ticker-price">
        {{tickerPrice().price | currency}}
    </span>

    @let delta = tickerPrice().delta;
    
    <span class="ticker-delta" style="padding-right: 4em; position: relative;" [class.negative]="delta < 0" [class.positive]="delta > 0">

        <span style="position: absolute; right: 0; bottom: 0;">
            <svg width=".6em" height=".6em" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M6 8L2 8L2 6L8 5.24536e-07L14 6L14 8L10 8L10 16L6 16L6 8Z" class="arrow"></path>
                </g>
            </svg>
    
            <small>
                {{delta | percent : '1.1-3'}}
            </small>
        </span>
    </span>
</span>