.ticker-price {
  color: white;
}
.ticker-delta {
  svg {
    display: none;
    transition: all 1000ms ease;
  }
  &.negative {
    --color: red;

    color: var(--color);
    svg {
      display: inline;
      transform: rotate(180deg);
    }
    .arrow {
      fill: var(--color);
    }
}

&.positive {
    --color: greenyellow;
    svg {
        display: inline;
        
    }
    color: var(--color);
    .arrow {
      fill: var(--color);
    }
  }
}
