<!-- <div class="tickers-container"> -->

@if(show){
<app-ticker-tape style="position: sticky; top: 0; z-index: 1;  font-size: 1.2rem;">
    @for(item of items(); track $index){
        <app-ticker-symbol [appAnimateDiff]="item.delta" [tickerPrice]="item" />
    }
</app-ticker-tape>
}


<input type="number" [(ngModel)]="value"> -->
<div style="padding: 3rem; display: flex; gap: 1rem;">
    @for (item of [].constructor(this.timeNow().length); track $index) {
        <app-calendar-leaf [symbol]="timeNow().at($index) || ''" />
    }
</div>
<div style="padding: 3rem; display: flex; gap: 1rem; flex-wrap: wrap;">
    @for (item of [].constructor(30); track $index) {
    <app-calendar-leaf [symbol]="name.at($index) || ''" />
    }
</div>
<div style="padding: 3rem;">
    <input type="text" placeholder="enter your text" [(ngModel)]="name">
</div>
<!-- </div> -->
<!-- <div style="width: 30rem; border: 1px solid red;">
    
</div> -->